<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SsPvo.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SsPvo.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <!-- serilog config -->
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="./logs/logs-.txt" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="30" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <!--<add key="serilog:using:MySQL" value="Serilog.Sinks.MySQL" />-->
  </appSettings>
  <applicationSettings>
    <SsPvo.Ui.Properties.Settings>
      <setting name="SsPvoAPIUrlProd" serializeAs="String">
        <value>http://10.3.60.3:8031/api</value>
      </setting>
      <setting name="SsPvoAPIUrlDev" serializeAs="String">
        <value>http://85.142.162.12:8031/api</value>
      </setting>
    </SsPvo.Ui.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SsPvo.Ui.Properties.Settings>
      <setting name="LastImportedXlsxFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LastIdJwt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastEntityType" serializeAs="String">
        <value />
      </setting>
      <setting name="OGRN" serializeAs="String">
        <value>0000000000000</value>
      </setting>
      <setting name="KPP" serializeAs="String">
        <value>000000000</value>
      </setting>
      <setting name="CertNameFragment" serializeAs="String">
        <value>Мой ВУЗ</value>
      </setting>
      <setting name="SelectedApiUrl" serializeAs="String">
        <value>http://10.3.60.3:8031/api</value>
      </setting>
      <setting name="DefaultInputFolder" serializeAs="String">
        <value>in</value>
      </setting>
      <setting name="DefaultOutputFolder" serializeAs="String">
        <value>out</value>
      </setting>
      <setting name="AutoConfirmBatchMessages" serializeAs="String">
        <value>True</value>
      </setting>
    </SsPvo.Ui.Properties.Settings>
  </userSettings>
</configuration>